/* Global Styles */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f8f9fa;
}

/* Container for Epic details and stories */
.container-epic {
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Epic details */
.div-epic {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 15px;
    /* background-color: #e9ecef; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.div-name-epic h2 {
    margin-top: 0;
    color: #495057;
}

.h3-historias {
    margin: 20px 0;
    font-size: 1.8rem;
    color: #17a2b8;
}

/* Stories list */
.stories-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    list-style-type: none;
    padding: 0;
}

/* Individual story card */
.story-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.story-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.name {
    font-size: 1.4rem;
    font-weight: bold;
    color: #343a40;
    margin-bottom: 10px;
}

.description {
    font-size: 1rem;
    color: #6c757d;
}

.link {
    text-decoration: none;
    color: inherit;
}