.button {
    text-align: center;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.h2-settings {
    font-size: 1.6em;
}

.h2-sesion {
    font-size: 1.4em;
}