/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

/* Container for Project details and epics */
.container-project {
    max-width: 1200px;
    margin: 1em auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.h3-loading {
    text-align: center;
}

/* Project details */
.project-details {
    margin-bottom: 40px;
}


h3 {
    color: #17a2b8;
}

.project-name {
    font-size: 1.7rem;
    font-weight: bold;
}

.project-description {
    font-size: 1.1rem;
    color: #6c757d;
    margin-bottom: 20px;
}

.div-property,
.project-members,
.project-epics {
    margin-top: 20px;
}

.div-property span {
    font-weight: bold;
}

.project-owner-name {
    color: #007bff;
}

/* Members list */
.project-members ul {
    list-style-type: none;
    padding: 0;
}

.project-members ul li {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

/* Epics list */
.project-epics ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    list-style-type: none;
    padding: 0;
}

.project-epics ul li {
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-epics ul li:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.epic-card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #343a40;
    margin-bottom: 10px;
}

.epic-card-description {
    font-size: 1rem;
    color: #6c757d;
    margin: 0;
}

.h1-detalles {
    font-size: 1.8em;
}

.h3-miembros {
    font-size: 1.2em;
}