body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

.logo-navbar {
    padding: 0px 20px;
}

.App-header {
    background-color: #343a40;
    padding: 10px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.icon-home {
    color: #17a2b8;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    margin: 15px 0px;

}

.icon-navbar {
    font-size: 2rem;
    cursor: pointer;
}

.text-login {
    color: white;
    text-decoration: none;
    font-size: 1.05rem;
    margin-right: 5px;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.text-login:hover {
    background-color: #495057;
}

/* Sidebar Styles */
.sidebar {
    font-size: 1.05em;
    position: fixed;
    top: 0;
    left: 0;
    width: 35%;
    height: 100%;
    background-color: #343a40;
    color: white;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
    padding: 10px;
}

.sidebar.open {
    transform: translateX(0);
}

.div-logo-sidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.close-btn {
    font-size: 2rem;
    cursor: pointer;
}

.nav-sidebar {
    justify-content: space-between;
    margin-top: 20px;
}

.div-user {
    padding-top: 425px;
}

.lista-navbar {
    list-style-type: none;
    padding: 0;
}

.lista-navbar li {
    margin-bottom: 10px;
}

.text-lista {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 10px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.text-lista:hover {
    background-color: #495057;
}



.text-settings {
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 10px 10px;
    transition: background-color 0.3s ease;
    margin-bottom: 40px;
    transition: background-color 0.3s ease;
}

.text-settings:hover {
    background-color: #495057;
}

/* Media Query */
@media (max-width: 1000px) {

    .sidebar {
        min-width: 50%;

    }

    .lista-navbar {
        padding-top: 5px;
    }

    .div-user {
        padding-top: 345px;
    }

    .logo-navbar {
        padding: 0px 25px;
    }
}