@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: Arial, sans-serif;
}


.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}


.App-header {
  background-color: #282c34;
  padding: 20px;
  display: flex;
  color: white;
  text-align: left;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.div-header {
  display: flex;
  align-items: center;

}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: white;
  transition: left 0.3s ease;
  /* padding-top: 64px; */

  z-index: 200;
}

.div-logo-sidebar {
  width: 100%;
  height: 64px;
  /* padding-top: 16px; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/src/assets/header-sidebar.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0px 0px 12px 12px;
}

.sidebar.open {
  left: 0;
  width: 100%;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

.lista-navbar {
  list-style-type: none;
  padding: 0;
}

.text-lista {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.li-sidebar:hover {
  text-decoration: underline;
}

.nav-sidebar {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 16px;
  justify-content: space-between;

}

.div-user {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Outfit", sans-serif;
  margin-top: 480px;
}

.App-content {
  margin-top: 80px;
  /* Da espacio para el header */
  padding: 20px;
  overflow-y: auto;
  height: 100%;
  /* background-color: #f0f0f0; */
}

.li-sidebar {
  /* padding-left: 16px; */
  margin: 20px 0;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  text-align: center;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-size: 20px;
}


section {
  margin-bottom: 40px;
}

h2 {
  margin-bottom: 10px;
}

p {
  line-height: 1.6;
}

.icon-navbar {
  font-size: 32px;
}

.logo-navbar {
  font-size: 26px;
  padding-left: 8px;
  font-family: "Outfit", sans-serif;
}


@media (max-width: 768px) {
  .App-header {
    padding: 15px;
  }

  .App-content {
    padding: 15px;
  }
}